<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GASOLINERÍA DON LALO</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

  <%- include('header'); -%>

    <div class="p-2">
      <p class="mt-5 text-red-600 text-center text-2xl">Ocurrio un error</p>
      <div class="h-24 w-full flex">
        <button class="bg-red-600 rounded-lg p-2 m-auto text-white"
          onclick="window.navigation.reload()">Recargar</button>

      </div>
    </div>
</body>

</html>