<header class="flex items-center shadow p-2 sticky top-0 bg-white">
  <img class="w-20" src="../static/assets/img/GDL.png" alt="GDL">
  <h1 class="text-3xl text-center font-bold">
    Gasolinería Don Lalo
  </h1>
</header>